* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #878787;
}

.container {
    margin: 0 auto;
    width: 50%;
    background-color: #FFF;
    min-width: 600px;
}

header {
    height: 50px;
    background-color: #233A5F;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin-left: 30%;
    padding: 10px 20px 10px 0;
}

.nav-list-item {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: row;
}

section {
    margin-top: 20px;
}

h1 {
    margin-top: 20px;
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.left-block {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: #233A5F;
    padding: 0px 12px 63px 12px;
}

.left-block h2 {
    color: #FFF;
    margin-bottom: 8px;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.profile {
    margin-top: 0;
}

.profile-photo img{
    width: 120px;
    height: 120px;
    border-radius: 100%;
}

.profile-position {
    color: #C3C2C2;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.left-block-list {
    margin-left: 20px;
    color: rgba(255, 255, 255, .75);;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.left-block-list a{
    color: rgba(255, 255, 255, .75);
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.right-block {
    display: flex;
    flex-direction: column;
    width: 70%;
    text-align: left;
    padding: 12px 37px 56px 32px;
}

.right-block h2 {
    color: #233A5F;
    margin-bottom: 18px;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.right-block-text {
    color: #3d3d3d;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.right-block-list {
    margin-left: 20px;
}

.code-block {
    padding-bottom: 5px;
    background-color:rgb(203, 203, 203);
}

footer {
    display: flex;
    height: 40px;
    background-color: #233A5F;
    justify-content: space-around;
    align-items: center;
}

.footer-item {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.school-logo {
    width: 50px;
    height: 50px;
}